* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.site-container {
    background-color: rgb(232, 244, 201);
    padding: .5em;
    min-height: 100vh;
    width: 100vw;
    min-width: 690px;
}

.site {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.header-wrapper {
    background-color: rgb(204, 184, 141);
    padding: .5em;
    border-radius: .5em;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-link {
    display: flex;
    justify-content: left;
    text-decoration: none;
    column-gap: 1em;
    color: rgb(40, 39, 39);
}

.header__logo-box {
    height: 45px;
    object-fit: cover;
}

.header__logo {
    height: 100%;
}

.header__title {
    line-height: 45px;
    font-size: 1.8em;
}

.content-wrapper {  
    padding-top: 1em;
    margin: 0 auto 2em;
}

.content {
    width: 635px;
    display: flex;
    grid-gap: .5em;
    justify-content: left;
    flex-wrap: wrap;
}

.content__item {
    height: 120px;
    width: 120px;
    background-color: rgb(204, 184, 141);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    cursor: pointer;
}

.content__img-box {
    height: 80px;
    width: 80px;
}

.content__img {
    height: 100%;
    width: 100%;
}

.content__name {
    font-weight: 600;
    text-transform: capitalize;
    font-size: .8em;
}

.btns-wrapper {
    height: 30px;
    margin: 0 auto;
}

.btns {
    display: flex;
    justify-content: center;
    column-gap: 2em;
    width: 650px;
}

.btn {
    height: 30px;
    width: 100px;
    font-size: .8em;
    font-weight: 700;
    border: 0;
    border-radius: .3em;
    background-color: rgb(204, 184, 141);
    line-height: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(177, 148, 86);
}

.modal-wrapper {
    z-index: 10;
    background:rgba(0,0,0,.7);
    height: 105%;
    width: 105%;
    top: -.5em;
    left: -.5em;
    position: fixed;
    display: none;
}

.modal {
    z-index: 12;
    height: 50vh;
    width: 60vh;
    position: fixed;
    background-color: rgb(84, 100, 97);
    border-radius: .5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
}

.modal__name {
    font-size: 4vh;
    color:rgb(232, 244, 201);
    margin-bottom: 1vh;
    text-transform: capitalize;
}

.modal__img-box {
    height: 23vh;
}

.modal__img {
    height: 100%;
}

.modal__title-abilities {
    font-size: 3vh;
    color:rgb(232, 244, 201);
    margin: 1vh 0 1vh;
}

.modal__ability {
    font-size: 2vh;
    color:rgb(173, 196, 115);
}

.modal__close {
    font-size: 3vh;
    background:rgba(0,0,0,.0);
    color:rgb(4, 4, 4);
    border: 0;
    position: absolute;
    top: 1vh;
    right: 1vh;
    cursor: pointer;
}
